<script type="module" src="/static/js/detail.js"></script>
<script type="module">
    import Detail from './static/js/detail.js'
    Detail()
</script>
<div id="productDetail">
    <ul id="detailDisplay" class="list-group">
    </ul>
    <div class="float-end" id="updateControl">
        <button type="button" class="btn btn-danger" id="cancelUpdateBtn">取消</button>
        <button type="button" class="btn btn-primary" id="confirmUpdateBtn">確定</button>
        <button type="button" class="btn btn-primary" id="updateBtn">更新</button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" hidden>
        <div id="alertText">Message</div>
        <button type="button" class="btn-close" onclick="document.querySelector('.alert').hidden=true"></button>
    </div>
</div>