<ul class="list-group ">
    <div class="input-group mb-3">
        <span class="input-group-text">名稱</span>
        <input type="text" class="form-control" id="title"  placeholder="">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">條碼</span>
        <input type="text" class="form-control" id="barcode"  placeholder="">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">價格</span>
        <input type="text" class="form-control" id="price"  placeholder="">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">廠商</span>
        <input type="text" class="form-control" id="publisher"  placeholder="">
    </div>
</ul>