<div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <h3 class="text-primary-emphasis">IknowBook</h3>
    <div class="d-flex align-items-center">
        <div class="dropdown">
            <button class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/static/assets/search32.png" alt="blank">
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div class="mb-3">
                        <label for="" class="form-label">尋找產品</label>
                        <input type="text" class="form-control" id="searchItem" aria-describedby="helpId" placeholder="">
                        <a id="confirmSearch" class="btn btn-primary" href="#" role="button">確定</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>