<div class="container" style="overflow-y: auto;">
    <header class="py-3 mb-3 border-bottom" hx-trigger="load" hx-get="/static/view/header.html" hx-swap="innerHTML">
    </header>
    <div id="app">
        <div id="main">
            <div hx-trigger="load" hx-get="/static/view/add/add_btn.html" hx-swap="innerHTML"></div>
            <div class="page-heading">
                <h3>近期商品</h3>
                <div hx-trigger="load" hx-get="/static/view/recent_product.html" hx-swap="innerHTML">
                </div>
            </div>
            <div class="page-content">
            </div>
        </div>
    </div>
</div>