<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" 
data-bs-toggle="dropdown" aria-expanded="false">
    <img src="/static/assets/avatar32.png" alt="mdo" 
    width="32" height="32" class="rounded-circle">
</a>
<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
    <li><button class="dropdown-item" hx-trigger="click" hx-swap="innerHTML" 
        hx-get="/static/view/login/login.html" hx-target="body">Login</button></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="#">Register</a></li>
</ul>
