<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IknowBook</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/htmx.min.js"></script>
</head>

<body>
    <header class="py-3 mb-3 border-bottom" hx-trigger="load" hx-get="/static/view/header.html" hx-swap="innerHTML">
    </header>
</body>