<script>
    const suffix = ":"
    const regex = "&"
    const searchInput = document.querySelector("#searchInput")

    function removeFilter(filter = "") {
        const values = searchInput.value.split(regex)
        for (const s of values) {
            if (s.includes(filter)) {
                searchInput.value = searchInput.value.replace(s + regex, "")
                break
            }
        }
    }

    function addFilter(paramId = "", filter = "") {
        const param = document.querySelector(`#${paramId}`)
        searchInput.value += `${filter}${regex}`
        param.focus()
    }

    function activeFilter(event) {
        const checkbox = event.target
        const filter = `${checkbox.value}${suffix}`

        if (checkbox.checked && !searchInput.value.includes(filter))
            addFilter(checkbox.value, filter)
        else
            removeFilter(filter)
    }

    function setFilterValue(event) {
        const param = event.target
        const filter = `${param.id}${suffix}`
        removeFilter(filter)
        addFilter(param.id, filter)

        let input = searchInput.value

        let insertString = (position = 0, str = "") => {
            return input.slice(0, position) + str + input.slice(position)
        }
        if (searchInput.value.includes(param.id) && !searchInput.value.includes(param.value)) {
            const insertPosition = input.indexOf(param.id) + param.id.length + suffix.length
            searchInput.value = insertString(insertPosition, param.value)
        }
    }

    const listCheckboxItem = function (name = "name", value = "value") {
        return /*html*/`
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="${value}" onclick="activeFilter(event)">
                <label class="form-check-label" for="firstCheckbox">${name}</label>
                <input class="" type="text" id="${value}" onchange="setFilterValue(event)" onfocus="setFilterValue(event)">
            </li>
        `
    }
    const searchFilter = document.querySelector("#searchFilter")
    searchFilter.innerHTML = listCheckboxItem("名稱", "title") +
        listCheckboxItem("條碼", "barcode") +
        listCheckboxItem("最高價格", "priceMax")
</script>

<ul id="searchFilter" class="list-group ">
</ul>