<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchDialog">
    <img src="/static/assets/search32.png" alt="blank">
</button>

<div class="modal fade" id="searchDialog" tabindex="-1" data-bs-backdrop="true" data-bs-keyboard="true" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="float-end">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-header" hx-get="/static/view/search/search_input.html" hx-trigger="load" hx-swap="innerHTML">
            </div>
            <div class="modal-body" hx-get="/static/view/search/search_content.html" hx-trigger="load" hx-swap="innerHTML">
            </div>
            <div class="modal-footer float-start ">
            </div>
        </div>
    </div>
</div>