<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchDialog">
    <img src="/static/assets/search32.png" alt="blank">
</button>

<div class="modal fade" id="searchDialog" tabindex="-1" data-bs-backdrop="true" data-bs-keyboard="true" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="float-end">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-header">
                <div class="input-group">
                    <button id="confirmSearch" hx-get="/static/view/search/result.html" hx-trigger="click"
                        hx-swap="innerHTML" hx-target="#resultView" class="btn btn-primary " type="button">確定</button>
                    <input type="text" class="form-control" id="searchInput" aria-describedby="helpId"
                        placeholder="輸入條碼或條件">
                </div>
            </div>
            <div class="modal-body">
                <h4>搜尋條件</h4>
                <div hx-get="/static/view/search/filters.html" hx-trigger="load" hx-swap="innerHTML"></div>
                <div class="p-2 g-col-6">
                    <hr>
                </div>
                <h4>結果</h4>
                <div id="resultView"></div>
            </div>
            <div class="modal-footer float-start ">
            </div>
        </div>
    </div>
</div>